
<form action="/stripe" method="post">
 <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key={{key}}
        data-amount="{{payload.price}}"
        data-currency="USD"
        data-name="Destiny"
        data-description="destination toeards your destiny"
        data-locale="auto" >
        </script>
</form>