<h1 class="service">Add service </h1>
<section class="add_user_section">
    <article>
        <form action="/admin/createService" method="post">
           <div>
            <label for="busname">bus name</label>
            <input type="text" name="busname" id="bus name" placeholder="Enter the busname">
            </div>
           <div>
            <label for="startduration">start duration</label>
            <input type="text" name="startduration" id="startduration" placeholder="Enter the startduration">
            </div>
           <div>
            <label for="endduration">End duration</label>
            <input type="text" name="endduration" id="Endduration" placeholder="Enter the Endduration">
            </div>
           <div>
            <label for="totalduration">Total duration</label>
            <input type="text" name="totalduration" id="totalduration" placeholder="Enter the totalduration">
            </div>
           <div>
            <label for="startlocation">start location</label>
            <input type="text" name="startlocation" id="startlocation" placeholder="Enter the startlocation">
            </div>
           <div>
            <label for="endlocation">End Location</label>
            <input type="text" name="endlocation" id="endlocation" placeholder="Enter the endlocation">
            </div>
           <div>
            <label for="price">price</label>
            <input type="text" name="price" id="price" placeholder="Enter the price">
            </div>
           <div>
            <label for="drivername">driver name</label>
            <input type="text" name="drivername" id="drivername" placeholder="Enter the drivername">
            </div>
           <div>
            <label for="drivernumber">driver number</label>
            <input type="text" name="drivernumber" id="drivernumber" placeholder="Enter driver number">
            </div>
            <div>
                <label for="travelid">Travel id</label>
                <input type="text" name="travelid" id="travelid" placeholder="Enter the travelid">
            </div>
            <div>
                <label for="class">class</label>
                <input type="text" name="class1" id="class1" placeholder="Enter the class ">
            </div>
           
            <div id="hidden_input">
             <input type="hidden" name="seats" id="seats" placeholder="seats">
            </div>
            <div>
                <button>add service</button>
            </div>
        </form>
    </article>
</section>