<section id="admin_page_section">
    <article>
       <aside>
         <a href="http://localhost:5000/admin/addService">Add service</a>
        <a href="http://localhost:5000/admin/searchservice">Update service</a>
        <a href="http://localhost:5000/admin/deleteService">Remove service</a>
        <a href="http://localhost:5000/cloud/cloudpost">Miniguide </a>
       </aside>
    </article>
</section>