<section class="service_search_section">
    <article>
      <form action="/admin/deleteService" method="post">
      <div>
        <h1>Remove service</h1>
      </div>
        <div>
            <input type="text" name="travelid" id="delete" placeholder="Enter the travel id" >
        </div>
        <div>
            <button>delete service</button>
        </div>
      </form>
    </article>
</section>