<section class="service_search_section">
    <article>
        <form action="/admin/searchservice" method="post">
          <div>
            <h1>Search service</h1>
          </div>
            <div>
                <label for="travelid">Enter travel id</label>
                <input type="text" name="travelid" id="travelid" placeholder="Enter travel id" required>
            </div>
           <div>
             <button>Search</button>
           </div>
        </form>
    </article>
</section>