<section class="bookingPage">
    <article>
        
        <p> Book Bus Tickets</p>
        <h1></h1>
        <form action="" method="post">
            <div>
                <input type="text" name="from" placeholder="Leaving from">
            </div>
            <div>
                <input type="text" name="to" placeholder="Going to ">
            </div>
            <div>
                <input type="date" name="date"  min="2022-08-12" placeholder="Date of Journey">
            </div>
             <div>
                <input type="hidden" name="email" class="inputemailhide" value="{{userdetl}}">
            </div>
            <button>Search</button>
        </form>
    </article>
</section>

<section id="busClass">
    <article>
       
        <aside class="window">
            <div class="div"><a href="http://localhost:5000/bus/busdetailpage" class="premium">Premium Class</a></div>
            <div><a href="http://localhost:5000/bus/busdetailpage1" class="gold">Gold Class</a></div>
            <div><a href="http://localhost:5000/bus/busdetailpage2" class="silver">Silver Class</a></div>
        </aside>
    </article>
</section>

<section id="donate_section">
    <article>
        <aside>
            <h1>Choose an oppourtunity to save lives..!!!</h1>
           <ul>
            <li>Physiotherapy treatments to elders across 15 states per year</li>
            <li>Elderly and 7415 groups receive livelihood support across 16 states</li>
            <li>Old age homes provide support and dignity to destitute elders</li>
            <li>elderly are provided monthly ration and finances in our "Support a Gran" initiative.</li>
            <li>Treatments per year provided by 156 Mobile Health Care units</li>
           </ul>
        </aside>
        
        <aside>
            <img src="/images/unicef.jpeg" alt="" srcset="">
           <a href="http://localhost:5000/booking/paymentdonate">Donate</a>
        </aside>
    </article>
</section>