<section id="busDetail">
<article>
<marquee behavior="alternate" direction="left" scrollamount="10">
     <p style="color: silver;">Silver Class Find here Volvo Bus, Volvo Sleeper Bus dealers, retailers, ... Get latest prices, models & wholesale prices for buying Volvo Bus. ... Silver Volvo Bus.</p>
</marquee>

<aside class="one">    
    <a href=""><img src="../../images/bus_photos/silver2.jpg" alt=""></a>
    <a href=""><img src="../../images/bus_photos/silverseatmatrix.jpg" alt=""></a>
    <a href=""><img src="../../images/bus_photos/goldClassSleeper.jpg" alt=""></a>
</aside>   

<aside class="two">
    {{!-- <h1>Services Provided</h1> --}}
    <a href="http://localhost:5000/bus/busdetailpage" style="color:black">Premium</a>
    <a href="http://localhost:5000/bus/busdetailpage1" style="color:gold">Gold</a>
</aside>

</article>
</section>