<section id="busDetail">

    <article>
<marquee behavior="scroll" direction="left" scrollamount="10" loop>
     <p style="color: black;">Premium Bus Services are bus services catering to commuters who are willing to pay higher fares for a more comfortable and direct journey to their destinations. Most Premium bus services operate during the peak hours, connecting residential estates with places of work, such as the Central Business District (CBD), and various Business Parks and industrial areas.</p>
</marquee>

<aside class="one">
    {{!-- <a href=""><img src="../../images/bus_photos/premium.png" alt=""></a> --}}
    <a href=""><img src="../../images/bus_photos/premi.jpg" alt=""></a>
    {{!-- <a href=""><img src="../../images/bus_photos/bus1.webp" alt=""></a> --}}
    <a href=""><img src="../../images/bus_photos/goldBusSeat.jpg" alt=""></a>
    <a href=""><img src="../../images/bus_photos/premislpr.jpg" alt=""></a>
</aside>


<aside class="two">
     {{!-- <h1>Services Provided</h1> --}}
    <a href="http://localhost:5000/bus/busdetailpage1" style="color:gold">Gold</a>
    <a href="http://localhost:5000/bus/busdetailpage2" style="color:silver">Silver</a>
</aside>

    </article>
</section>