<section id="busDetail">

    <article>
<marquee behavior="alternate" direction="left" scrollamount="10">
     <p style="color: gold;">Gold Class has an elite fleet of buses in the name of Gold Club Class that comes with a tagline “Sleep Like a Baby”. Amenities provided in the bus: Water bottle of 500ml capacity. Blanket at night. Incabin entertainment television (Movies are played and switched off at 10pm and again switched on only at 6am)</p>
</marquee>

<aside class="one">
    
    {{!-- <a href=""><img src="../../images/bus_photos/premium.png" alt=""></a> --}}
    <a href=""><img src="../../images/bus_photos/goldclr.png" alt=""></a>
    <a href=""><img src="../../images/bus_photos/goldclass1.jpg" alt=""></a>
    <a href=""><img src="../../images/bus_photos/gldslpr.webp" alt=""></a>
</aside>

<aside class="two">
     {{!-- <h1>Services Provided</h1> --}}
    <a href="http://localhost:5000/bus/busdetailpage" style="color:black">Premium</a>
    <a href="http://localhost:5000/bus/busdetailpage2" style="color:silver">Silver</a>
</aside>
    </article>
</section>