<Section id="mg_block">
    <article>
    {{!-- <form class="mg_form"action="/cloud/cloudpost" method="post" enctype="multipart/form-data">
     <input type="text" name="place" placeholder="City name">
    <input type="text" name="description" placeholder="description">
    <div class="inp_block">    
    <input type="file" name="pictures1" placeholder="Main pic">
    <input type="file" name="pic11" placeholder="pic1">
    <input type="file" name="pic21" placeholder="pic2" >
    <input type="file" name="pic31" placeholder="pic3" >
    <input type="file" name="pic41" placeholder="pic4" >
    <input type="file" name="pic51" placeholder="pic5" >
    <input type="file" name="pic61" placeholder="pic6" >
    </div>
<button>upload</button> --}}

<div class="login-box">
  <h2>Login</h2>
  <form  class="mg_form" action="/cloud/cloudpost" method="post" enctype="multipart/form-data">
    <div class="user-box">
      <input type="text" name="place"  placeholder="Place">
 
    </div>
    <div class="user-box">
      <input type="text" name="description"  placeholder="Description">
   
    </div>
    <div class="user-box">
      <input type="file" name="pictures1" multiple>
     
    <div class="user-box">
      <input type="file" name="pic11">
      
    <div class="user-box">
      <input type="file" name="pic21">
 
      <div class="user-box">
      <input type="file" name="pic31" >
      
      <div class="user-box">
      <input type="file" name="pic41" >
    
      <div class="user-box">
      <input type="file" name="pic51" >
     
      <div class="user-box">
      <input type="file" name="pic61" >
   
 
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <button class="btn-1">upload</button>
   
  </form>
</div>
    </article>
</Section>

