<section id="forgototp">
<article class="login-box">
    <form action="/user/otp" method="post">
    <div class="user-box">
        <input type="text" name="otp" id="otp" placeholder="Enter the otp">
    </div>
    <div>
        <button>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
        </button>
    </div>
</form>
</article>
</section>

